{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
    //    "module:@babel/plugin-transform-regenerator"
  ],
  "plugins": [
    "@babel/transform-runtime"
    //    "@babel/plugin-syntax-object-rest-spread"
  ]
}


